/* Background and page defaults (fix background sizing and viewport fitting) */
html, body {
	height: 100%;
	margin: 0; /* remove default body margin so background touches edges */
    padding: 0;
}

body {
	/*background-image: url('Images/WorkingOnMainPage.png');*/
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain; 
	background-size: 100% 100%;
	font-family: Arial, Helvetica, sans-serif;
}

/* Navigation bar styling */
header {
    overflow: hidden;
    background-color: dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
	
header a:hover{
    background-color: cornflowerblue;
}

section {
    color: white;
}

section p {
        padding-left: 15px;  
    }